	{{> head }}
  <body>

    {{> navbar }}

    <div class="container">
		{{{body}}}
    </div>




  {{!-- 
  Скрипты складываем в footer, чтобы
  когда мы инициализировали скрипты,
  нам уже был доступен весь набор html тегов,
  который есть на странице. Это оградит нас
  от ошибок
   --}}
    {{> footer}}
	</body>
</html>